body {
    margin: 0;
    padding: 0; 
}
header{
    background-color:#1F2937;
}
.one{
    display: flex;
    justify-content: space-between;
}
.logo{
    color:white;
    font-size: 24px;
    padding-left: 10%;
    padding-top: 10px;
    font-weight: bold;
}
.menu-cont{
    padding-right: 10%;
}
.menu{
    list-style: none;
    display: flex; 
  
}
.menu a {
    text-decoration: none;
    color:white;
    padding:  16px;
    font-size: 18px; 
}
.welcome{
    font-size: 48px;
    font-weight:800;
    color:white;
    padding-right: 5%;
    padding-bottom: 10%;
    padding-top:5% ;
    padding-left: 10%;

}
.image-flower{
    padding-top:5% ;
    padding-bottom: 5%;
    padding-right: 10%;
}
.image-flower img{
   
    width:600px ;
    height:200px ;
    
}
.sec{
    font-size:16px;
    color: white;
    font-weight: normal;
}
.hero{
    background-color: #1F2937;
    display: flex; 
}
.button1{
    background-color: #3882F6;
    color:white;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 17px;
}
.info-title{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;

}
.image-cont{
    display: flex;
   justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
}
.image {
    text-align: center;
    margin-bottom: 10px;
margin-left: 5%;

}
.image img{
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 200px;
    border-radius: 10px;
    border:4px solid #3882F6;

}
.collection{
    padding-bottom: 5%;
}
.quote{
    font-style: italic;
    font-size: 36px;
    padding:8%;
    background-color: #E5E7EB;
    text-align: center;
}
.quote p{
    margin-bottom: 10px;
}
.quote footer{
    font-style: normal;
    font-weight: bold;
    margin-left: 70%;
}
.call{
    padding:8%;
    padding-left: 15%;
    padding-right: 15%;

}
.call-content{
    background-color:#3882F6 ;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 2%;
    justify-content: space-between;
    padding-right: 10%;
}
.call-text {
    
    
    padding-left: 10%;
    
}
.call-title{
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.call-text-2{
    color: white;
    font-weight: normal;
    font-size: 16px;
}
.call-button{
    color:white;
    border-radius: 10px;
    border:1px solid  white;
    background-color:#3882F6 ;
    width: 100px;
    height: 30px;
    font-size: 17px;
    font-weight: bold;
}
.footer{
    background-color: #1F2937;
    color:white;
    text-align: center; 
    padding: 20px;
}